<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mathe1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="Titel" value="Emma Lucia Bereuter"/>
    <add key="AdditionLeichtZahlenraum" value="10"/>
    <add key="AdditionNormalZahlenraum" value="50"/>
    <add key="AdditionSchwerZahlenraum" value="500"/>
    <add key="SubtraktionLeichtZahlenraum" value="20"/>
    <add key="SubtraktionNormalZahlenraum" value="100"/>
    <add key="SubtraktionSchwerZahlenraum" value="1000"/>
    <add key="MultiplikationLeichtZahlenraum" value="10"/>
    <add key="MultiplikationNormalZahlenraum" value="15"/>
    <add key="MultiplikationSchwerZahlenraum" value="20"/>
    <add key="DivisionLeichtZahlenraum" value="10"/>
    <add key="DivisionNormalZahlenraum" value="15"/>
    <add key="DivisionSchwerZahlenraum" value="20"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Mathe1.Properties.Settings>
            <setting name="GradAddition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GradSubtraktion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeightStatistik" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WidthStatistik" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="GradMultiplikation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GradDivision" serializeAs="String">
                <value>0</value>
            </setting>
        </Mathe1.Properties.Settings>
    </userSettings>
</configuration>